BROKEN_HOST=eu1.cloud.thethings.network
BROKEN_PORT=1883
CLIENTID=go-mqtt-client
TOPIC="v3/opendata-code-4-heilbronnen-test@ttn/devices/lora-dev/up"
MQTT_USERNAME="opendata-code-4-heilbronnen-test@ttn"
MQTT_PASSWORD="NNSXS.65KZWWFO53FUJ35MD4CJK7P3J64DVTDLHWTANPA.2MF7YDE4BGWJOF4WMFDWT63KW7JN4QVUBAXCLZNRM4VXJ6DCBEKA"
DB_DSN="postgres://timescaledb:password@localhost:5432/postgres"